<!-- Include the header -->
<%- include('partials/header'); %>

<h2>Welcome to Nodejs authentication</h2>
<p><a href="/login">Login</a> or
<a href="/signup">Register</a></p>

<!-- Include the footer -->
<%- include('partials/footer'); %>

<style>
	body{
		padding: 10px 10px 10px 20px;
	}
</style>