<!-- Include the header -->
<%- include('partials/header'); %>
<div class="main">
    <div class="main-inner">
      <a href= "/"><img src="/images/logo.jpg" alt="logo"></a>
      <h3> Sign In </h3>
      <p>with</p>

        <!-- Show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        
      <hr>
      <div class="btns">  
        <a href="/auth/facebook" class="btn mb-2 facebookbtn"><i class="fab fa-facebook mr-2"></i> Facebook</a>
        <a href="/auth/google" class="btn googlebtn mt-2 "><i class="fab fa-google mr-2"></i> Google </a>
        
         <!-- LOGIN FORM -->
          <form action="/login" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="user@example.com" name="email" >
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" name="password" >
            </div>

            <!-- <button type="submit" class="btn btn-warning btn-lg">Login</button> -->
            <button type="submit" class="btn loginbtn"><i class="fab fa-blue mr-2"></i>Login</button>
          </form>
        </div>
    </div>
</div>


<!-- Include the footer -->
<%- include('partials/footer'); %>