<%- include('partials/header'); %>

<div class="main">
    <div class="main-inner">
      <a href= "/"><img src="/images/logo.jpg" alt="logo"></a>
      <h3> Sign Up </h3>

       <!-- Show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
	      
         <!-- SIGNUP FORM -->
          <form action="/signup" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" name="fname" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Other Name(s)" name="oname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" name="lname" >
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="user@example.com" name="email" >
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" name="password" >
            </div>

            <!-- <button type="submit" class="btn btn-warning btn-lg">Login</button> -->
            <button type="submit" class="btn signupbtn"><i class="fab fa-blue mr-2"></i>Signup</button>
          </form>
        </div>
    </div>
</div>


<!-- Include the footer -->
<%- include('partials/footer'); %>